<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Gravatar</th>
            <th>Name</th>
            <% if current_user.admin? %>
                <th>Actions</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <%= render @users %>
    </tbody>
</table>

<%= will_paginate %>
<%= page_entries_info %>
